* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

a, li {
  color: #8c8e8f;
}

nav {
  justify-content: space-between;
  padding: 40px 0;
}

header {
  border-bottom: 1px solid lightgrey;
}

.container {
  max-width: 1370px;
  margin: auto;
}

.nav-left {
  margin-left: 32px;
}

.left, .right {
  align-items: center;
}

.nav-left > ul > li,
.nav-right > ul > li {
  padding: 0 19px;
}

.nav-right > ul > li.with-dropdown:after{
  content: "";
  position: absolute;
  display: block;
  height: 20px;
  width: 100%;
}

.btn {
  border-radius: 10px;
  padding: 10px 24px;
  margin-left: 10px;
}

.dis-none {
  display: none !important;
}

.with-dropdown div ul li {
  padding: 10px 10px;
}

.with-dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: #fff;
  position: absolute;
  border-radius: 10px;
  top: 35px;
  left: -80px;
  box-shadow: 0 1px 0px rgb(0 0 0 / 16%), 0 1px 9px rgb(0 0 0 / 23%);
}

.dropdown-menu > div > ul > li > a {
  font-size: 13px;
}

.fas {
  color: #fff;
  background-color: lightgrey;
  border-radius: 50%;
  padding: 5px 5px;
  margin-right: 5px;
}

.bold-title {
  color: lightgrey;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}

ul li a:hover {
  color: #000;
}

.btn.bg-grey:hover {
  background-color: #ebebeb;
}

.btn.bg-black:hover {
  background-color: #454545;
}

.coming-soon-box {
  position: relative;
}

.coming-soon {
  text-transform: uppercase;
  color: blue;
  font-size: 8px;
  position: absolute;
  top: 0;
  right: 25%;
}

.active {
  color: #000;
}

/* BgColors */
.bg-grey {
  background-color: #f0f0f0;
}

.bg-black {
  background-color: #000;
}
/* /BgColors */

/* colors */
.txt-grey {
  color: #BABBBC;
}

.txt-white {
  color: #fff;
}

.txt-black {
  color: #000;
}
/* /colors */

/* Utilities */
.flex {
  display: flex;
}

.w160 {
  width:160px;
}
/* /Utilities */
