* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

a, li {
  color: #8c8e8f;
}

nav {
  justify-content: space-between;
  padding: 40px 0;
}

.container {
  width: 80%;
  margin: auto;
}

.nav-left {
  margin-left: 32px;
}

.left, .right {
  align-items: center;
}

.nav-left > ul > li,
.nav-right > ul > li {
  padding: 0 19px;
}

.btn {
  border-radius: 10px;
  padding: 10px 24px;
  margin-left: 10px;
}

.btn.bg-black {
  color: #fff;
}

.btn.bg-grey {
  color: #000;
}

.dis-none {
  display: none !important;
}

.with-dropdown div ul li {
  padding: 10px 10px;
}

.with-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  border-radius: 10px;
  top: 35px;
  left: -80px;
  box-shadow: 0 1px 0px rgb(0 0 0 / 16%), 0 1px 9px rgb(0 0 0 / 23%);
}


/* BgColors */
.bg-grey {
  background-color: #f0f0f0;
}

.bg-black {
  background-color: #000;
}
/* /BgColors */


/* Utilities */
.flex {
  display: flex;
}

.w160 {
  width:160px;
}

/* /Utilities */
